name: CI/CD Pipeline

on:
  push:
    branches: ["main"]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Installer pytest
        run: pip install pytest

      - name: Lancer les tests
        run: pytest

  deploy:
    needs: test
    runs-on: ubuntu-latest
    if: success()  

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Déploiement simulé
        run: echo "Déploiement réussi !"  
